@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Marck+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
    font-family: Roboto, serif;
    font-size: 25px;
    overflow-x: hidden;
    background: linear-gradient(90deg, #adadad 0%, white 100%);
}

#header {
    font-family: Great Vibes, serif;
    font-size: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent;
    /* background: rgba(82, 81, 82, 0.37); */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item {
    font-size: 25px;
}

#logo {
    width: 50px;
    transition: all 0.3s ease;
}

#header .nav-link {
    color: white;
    transition: color 0.3s ease;
}

#header .nav-link:hover {
    color: blue;
}



#header.scrolled {
    background-color: white;
    color: black;
}

#header.scrolled .nav-link {
    color: black;
}

#header.scrolled .nav-link:hover {
    color: blue;
}

#header.scrolled #logo {
    filter: invert(100%);
}

p {
    color: rgb(248, 248, 248);
    font-size: 101%;
}


#header .navbar-nav .nav-link.active {
    color: rgb(113, 113, 113);
    
}




.navbar-toggler {
    background-color: transparent;
    border: none;
    
}

.carousel-inner {
    border-style: bold;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(49, 49, 49, 0.616);
}

.sidebar {
    color: aquamarine;
    background: rgba(19, 19, 19, 0.616);
    border-style: bold;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(49, 49, 49, 0.616);
    /* background: linear-gradient(270deg, #1b0ced 0%, #0a0a0a 100%); */

}

.card {
    background: linear-gradient(270deg, #1b0ced 0%, #0a0a0a 100%);
    color: aquamarine;

}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text, .footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer, .btn-outline-primary {
    background: linear-gradient(270deg, #e4e2f7 0%, #070707 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 15px;
    color: #ffffff;
    display: inline-block;

}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    #header {
        font-size: 18px;
    }
    .dropdown-item {
        font-size: 18px;
    }
    .carousel-indicators {
        display: none;
    }
    
}
